<nav class="navbar">
  <div class="row">
    <div class="col">
      <div class="logo-img">
        <a href="#">
          <img class="img-fluid" src="assets/images/image001.png" alt="">
      </a>
      <ul class="list">
        <span> <img class="img-list" src="assets/images/image002.png" alt="others"></span>
        <li class="listitem">Facebook</li>
        <span> <img class="img-list" src="assets/images/image003.png" alt="others"></span>
        <li class="listitem">Twitter</li>
        <span> <img class="img-list" src="assets/images/image004.png" alt="others"></span>
        <li class="listitem">Linkedin</li>
        <span> <img class="img-list" src="assets/images/image007.png" alt="others"></span>
        <li class="listitem">Blogs</li>
        <span> <img class="img-list" src="assets/images/image008.png" alt="others"></span>
        <li class="listitem">Address</li>
      </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col s12 m6 l9">
      <div class="row">
        <div style="text-align: center;">
          <h1 style="color: coral;">Employee Registrion Form</h1>
        </div>
        <div class="row">
          <form class=" col s12 employee-form" [formGroup]="registration" (ngSubmit)="register()">
           <div class="row col s12">
            <div class="col s6 form-list" >
              <label for="employeeid"> Employee ID: </label>
              <input class="input-field" type="text" formControlName="employeeid" placeholder="Enter Employee ID">
              <span class="error" *ngIf="!registration.controls['employeeid'].valid && registration.controls['employeeid'].touched">Employee Id is required</span>
            </div>
          </div>
          <div class="row col s12">
            <div class="col s6 form-list required">
              <label   class="control-label" for="name"> Employee Name:</label>
              <input class="input-field" type="text" formControlName="name" placeholder="Enter Employee Name" required>
              <span class="error" *ngIf="!registration.controls['name'].valid && registration.controls['name'].touched">Name is required</span>
            </div>
          </div>
          <div class="row col s12"><div class="col s12 form-list required">
            <label  class="control-label" for="email"> Employee Email: </label>
            <input class="input-field" type="email" formControlName="email" placeholder="Enter Employee E-mail Id">
            <span class="error" *ngIf="!registration.controls['email'].valid && registration.controls['email'].touched">Email is required (e.g email@gmail.com)</span>
          </div>
        </div>
        <div class="row col s12"> <div class="col s12 form-list">
            <label for="designation"> Designation: </label>
            <input class="input-field" type="text" list="designations" formControlName="designation" placeholder="Select Your Designation"/>
            <datalist id="designations">
              <option>Manager</option>
              <option>Software Developer</option>
              <option>Software Testers</option>
              <option>Admin</option>
            </datalist>
            <span class="error" *ngIf="!registration.controls['designation'].valid && registration.controls['designation'].touched">Designation is required</span>
          </div>
        </div>
        <div class="row col s12">
           <div class="col s12 form-list required">
            <label  class="control-label" for="salary"> Salary: </label>
            <input type="number" step="1" class="input-field" formControlName="salary" placeholder="Enter Your Salary">
            <span class="error" *ngIf="!registration.controls['salary'].valid && registration.controls['salary'].touched">Salary is required</span>
          </div>
        </div>
        <div class="row col s12">
          <div class="col s12 form-list required">
            <label  class="control-label" for="gender"> Gender: </label>
            <input type="radio" name="gender" id="gender" value="Male" checked formControlName="gender">
            <label for="gender"> Male</label>
            <input type="radio" name="gender" id="gender" value="Female" checked formControlName="gender">
            <label for="gender"> Female</label>
            <input type="radio" name="gender" id="gender" value="Transgender" checked formControlName="gender">
            <label for="gender"> Transgender</label>
          </div>
        </div>
        <div class="row col s12"><div class="col s12 form-list required">
            <label  class="control-label" for="phonenumber"> Phone Number: </label>
            <input class="input-field" pattern="[6789][0-9]{9}" type="text" formControlName="phonenumber" placeholder="Enter Your Phone Number">
            <span class="error" *ngIf="!registration.controls['phonenumber'].valid && registration.controls['phonenumber'].touched">Phone Number is required</span>
          </div>
        </div>
        <div class="row col s12"> <div class="col s12 form-list">
            <label for="qualification"> Employee Qualification: </label>
            <input class="input-field" type="text" formControlName="qualification" placeholder="Enter Your Higher Qualification">
            <span class="error" *ngIf="!registration.controls['qualification'].valid && registration.controls['qualification'].touched">Qualification is required</span>
          </div>
        </div>
        <div class="row col s12">
          <div class="col s12 form-list">
            <label  class="control-label" for="language"> Languages Known : </label>
            <input type="checkbox" name="language" id="language" value="English" formControlName="language">
            <label for="language"> English</label>
            <input type="checkbox" name="language" id="language" value="Telugu" formControlName="language">
            <label for="language"> Telugu</label>
            <input type="checkbox" name="language" id="language" value="Hindi" formControlName="language">
            <label for="language"> Hindi</label>
          </div>
        </div>
            <button type="button" class="btn btn-primary" (click)="onSubmit()">{{isedit?"Update":"Submit"}}</button>
            <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
            <div class="progress" *ngIf="showSpinner">
              <div class="indeterminate"></div></div>
      </form>
          <div class="row" style="text-align: center;">
            <h3 style="color:darkgoldenrod;">Employee Registraion Details</h3>
          </div>
          <div class="row">
            <div class="col-md-12 mt-4 mb-4">
              <table class="table">
                <thead>
                  <tr class="tablehead">
                    <th class="tableitem">Employee ID</th>
                    <th class="tableitem">Employee Name</th>
                    <th class="tableitem">Email</th>
                    <th class="tableitem">Salary</th>
                    <th class="tableitem">Designation</th>
                    <th class="tableitem">Gender</th>
                    <th class="tableitem">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of registarData">
                    <td class="tableitem"><span>{{data.employeeid}}</span></td>
                    <td class="tableitem"><span>{{data.name}}</span></td>
                    <td class="tableitem"><span>{{data.email}}</span></td>
                    <td class="tableitem"><span>${{data.salary}}.00</span></td>
                    <td class="tableitem"><span>{{data.designation}}</span></td>
                    <td class="tableitem"><span>{{data.gender}}</span></td>
                    <td><button type="button" class="btn btn-primary" (click)="edit(data.employeeid)">Edit</button>
                      <button type="button" class="btn btn-primary" (click)="remove(data.employeeid)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
